<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="border-left-2 border-pink-500"><span class="bg-white text-pink-500 font-bold text-2xl inline-block px-3">404</span></div>
    <div class="mt-6 mb-5 font-bold text-6xl text-900 ">Page introuvable</div>
    <p class="text-700 text-3xl mt-0 mb-6 ">Désolé, nous n'avons pas pu trouver cette page</p>
    <div><button onclick="window.history.back()" type="button" pbutton="" pripple="" label="Go Back" icon="pi pi-arrow-left"
            class="p-element p-ripple p-button-text mr-2 p-button p-component"><span
                class="p-button-icon p-button-icon-left pi pi-arrow-left" aria-hidden="true"></span><span
                class="p-button-label">Go Back</span><span class="p-ink"></span></button>
        <button routerLink="/home" type="button" pbutton="" pripple="" label="Go to Dashboard" icon="pi pi-home"
            class="p-element p-ripple p-button p-component"><span class="p-button-icon p-button-icon-left pi pi-home"
                aria-hidden="true"></span><span class="p-button-label">Accueil</span><span
                class="p-ink"></span></button>
    </div>
</div>