<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column align-items-center mb-6">
        <button pbutton="" pripple="" label="Check Out" class="p-element p-ripple p-button p-component"><span
                class="p-button-label">Check
                Out</span><span class="p-ink"></span></button>
    </div>
    <ul class="list-none p-0 m-0">
        <li class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center">
            <img src="assets/sample-img.png"
                class="w-12rem flex-shrink-0 mx-auto md:mx-0">
            <div class="flex-auto py-5 md:pl-5">
                <div
                    class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-6">
                    <div class="w-full sm:w-6 flex flex-column"><span class="text-900 text-xl font-medium mb-3">Product
                            Name</span><span class="text-600">Medium</span></div>
                    <div class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0">
                        <div><p-dropdown class="p-element p-inputwrapper p-inputwrapper-filled">
                                <div class="p-dropdown p-component">
                                    <div class="p-hidden-accessible"><input type="text" readonly=""
                                            aria-haspopup="listbox" pautofocus="" role="combobox" class="p-element"
                                            aria-expanded="false"></div><span
                                        class="p-element p-dropdown-label p-inputtext ng-star-inserted"
                                        id="pr_id_1_label">1<!----><!----><!----></span><!----><!----><!----><!---->
                                    <div role="button" aria-label="dropdown trigger" aria-haspopup="listbox"
                                        class="p-dropdown-trigger"><!---->
                                        <span class="p-element p-icon-wrapper ng-star-inserted"><svg width="14"
                                                height="14" viewBox="0 0 14 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="p-dropdown-trigger-icon p-icon" aria-hidden="true">
                                                <path
                                                    d="M7.01744 10.398C6.91269 10.3985 6.8089 10.378 6.71215 10.3379C6.61541 10.2977 6.52766 10.2386 6.45405 10.1641L1.13907 4.84913C1.03306 4.69404 0.985221 4.5065 1.00399 4.31958C1.02276 4.13266 1.10693 3.95838 1.24166 3.82747C1.37639 3.69655 1.55301 3.61742 1.74039 3.60402C1.92777 3.59062 2.11386 3.64382 2.26584 3.75424L7.01744 8.47394L11.769 3.75424C11.9189 3.65709 12.097 3.61306 12.2748 3.62921C12.4527 3.64535 12.6199 3.72073 12.7498 3.84328C12.8797 3.96582 12.9647 4.12842 12.9912 4.30502C13.0177 4.48162 12.9841 4.662 12.8958 4.81724L7.58083 10.1322C7.50996 10.2125 7.42344 10.2775 7.32656 10.3232C7.22968 10.3689 7.12449 10.3944 7.01744 10.398Z"
                                                    fill="currentColor"></path>
                                            </svg></span><!----><!----><!----><!---->
                                    </div><p-overlay class="p-element ng-tns-c23-3 ng-star-inserted"><!----></p-overlay>
                                </div>
                            </p-dropdown></div>
                        <div class="flex flex-column sm:align-items-end"><span
                                class="text-900 text-2xl font-medium mb-2 sm:mb-3">$20.00</span><a tabindex="0"
                                class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors transition-duration-300">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column"><span class="inline-flex align-items-center mb-3"><i
                            class="pi pi-envelope text-600 mr-2"></i><span class="text-600 mr-2">Order
                            today.</span></span><span class="inline-flex align-items-center mb-3"><i
                            class="pi pi-send text-600 mr-2"></i><span class="text-600 mr-2">Delivery by <span
                                class="font-bold">Dec 23.</span></span></span><span class="flex align-items-center"><i
                            class="pi pi-exclamation-triangle text-600 mr-2"></i><span class="text-600">Only 8
                            Available.</span></span></div>
            </div>
        </li>
        <li class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center">
            <img src="assets/sample-img.png"
                class="w-12rem flex-shrink-0 mx-auto md:mx-0">
            <div class="flex-auto py-5 md:pl-5">
                <div
                    class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-6">
                    <div class="w-full sm:w-6 flex flex-column"><span class="text-900 text-xl font-medium mb-3">Product
                            Name</span><span class="text-600">Medium</span></div>
                    <div class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0">
                        <div><p-dropdown class="p-element p-inputwrapper p-inputwrapper-filled">
                                <div class="p-dropdown p-component">
                                    <div class="p-hidden-accessible"><input type="text" readonly=""
                                            aria-haspopup="listbox" pautofocus="" role="combobox" class="p-element"
                                            aria-expanded="false"></div><span
                                        class="p-element p-dropdown-label p-inputtext ng-star-inserted"
                                        id="pr_id_2_label">1<!----><!----><!----></span><!----><!----><!----><!---->
                                    <div role="button" aria-label="dropdown trigger" aria-haspopup="listbox"
                                        class="p-dropdown-trigger"><!---->
                                        <span class="p-element p-icon-wrapper ng-star-inserted"><svg width="14"
                                                height="14" viewBox="0 0 14 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="p-dropdown-trigger-icon p-icon" aria-hidden="true">
                                                <path
                                                    d="M7.01744 10.398C6.91269 10.3985 6.8089 10.378 6.71215 10.3379C6.61541 10.2977 6.52766 10.2386 6.45405 10.1641L1.13907 4.84913C1.03306 4.69404 0.985221 4.5065 1.00399 4.31958C1.02276 4.13266 1.10693 3.95838 1.24166 3.82747C1.37639 3.69655 1.55301 3.61742 1.74039 3.60402C1.92777 3.59062 2.11386 3.64382 2.26584 3.75424L7.01744 8.47394L11.769 3.75424C11.9189 3.65709 12.097 3.61306 12.2748 3.62921C12.4527 3.64535 12.6199 3.72073 12.7498 3.84328C12.8797 3.96582 12.9647 4.12842 12.9912 4.30502C13.0177 4.48162 12.9841 4.662 12.8958 4.81724L7.58083 10.1322C7.50996 10.2125 7.42344 10.2775 7.32656 10.3232C7.22968 10.3689 7.12449 10.3944 7.01744 10.398Z"
                                                    fill="currentColor"></path>
                                            </svg></span><!----><!----><!----><!---->
                                    </div><p-overlay class="p-element ng-tns-c23-4 ng-star-inserted"><!----></p-overlay>
                                </div>
                            </p-dropdown></div>
                        <div class="flex flex-column sm:align-items-end"><span
                                class="text-900 text-2xl font-medium mb-2 sm:mb-3">$62.00</span><a tabindex="0"
                                class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors transition-duration-300">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column"><span class="inline-flex align-items-center mb-3"><i
                            class="pi pi-envelope text-600 mr-2"></i><span class="text-600 mr-2">Order
                            today.</span></span><span class="inline-flex align-items-center mb-3"><i
                            class="pi pi-send text-600 mr-2"></i><span class="text-600 mr-2">Delivery by <span
                                class="font-bold">Dec 23.</span></span></span><span class="flex align-items-center"><i
                            class="pi pi-exclamation-triangle text-600 mr-2"></i><span class="text-600">Only 2
                            Available.</span></span></div>
            </div>
        </li>
    </ul>
    <div class="flex">
        <div class="w-12rem hidden md:block"></div>
        <ul class="list-none py-0 pr-0 pl-0 md:pl-5 mt-6 mx-0 mb-0 flex-auto">
            <li class="flex justify-content-between mb-4"><span class="text-xl text-900">Subtotal</span><span
                    class="text-xl text-900">$82.00</span></li>
            <li class="flex justify-content-between mb-4"><span class="text-xl text-900">Shipping</span><span
                    class="text-xl text-900">Free</span></li>
            <li class="flex justify-content-between mb-4"><span class="text-xl text-900">VAT</span><span
                    class="text-xl text-900">$8.00</span></li>
            <li class="flex justify-content-between border-top-1 surface-border mb-4 pt-4"><span
                    class="text-xl text-900 font-bold text-3xl">Total</span><span
                    class="text-xl text-900 font-bold text-3xl">$90.00</span></li>
            <li class="flex justify-content-end"><button pbutton="" pripple="" label="Check Out"
                    class="p-element p-ripple p-button p-component"><span class="p-button-label">Check Out</span><span
                        class="p-ink"></span></button></li>
        </ul>
    </div>
</div>